// Theme colors:
$etsy-primary: #F7931E;
$etsy-danger: #FE5D5D;
$etsy-success: #28a745;

// Base:
$etsy-base-1: #ffffff;
$etsy-base-2: #145569;
$etsy-base-3: #f6f7fb;

// Text:
$etsy-text-1: #2C2C2C;
$etsy-text-2: #5F5F5F;
$etsy-text-3: #727272;

// Other:
$etsy-bg-links: #6C99B0;
