/* You can add global styles to this file, and also import other style files */
@import './styles/';
html, body {
  height: 100%;
  margin: unset;
}

body * {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
}